<ul class="footer__social social">
  <li>
    <a href="#" target="_blank">
      <svg class="" aria-hidden="true">
        <use xlink:href="images/icons/sprite.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      <svg class="" aria-hidden="true">
        <use xlink:href="images/icons/sprite.svg#instagram"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://wa.me/+37368375599" target="_blank">
      <svg class="" aria-hidden="true">
        <use xlink:href="images/icons/sprite.svg#whatsapp"></use>
      </svg>
    </a>
  </li>
</ul>