.header
  padding: 20px 0
  background-color: $blue
  color: $white
  @include mediaPhone
    position: absolute
    top: 100px
    left: 0
    width: 100%
    &-work
      top: 0
      & .header__logo
        display: flex
      & .header__menu
        justify-content: flex-end
      & .menu__icon._active
        top: 26px

  &__container
    @include fx-all
    justify-content: flex-start
  &__logo
    flex-shrink: 0
    margin-right: 211px
    @include mediaTablet
      margin-right: 15%
      z-index: 10
    @include mediaPhone
      display: none
  &__menu
    width: 100%
    justify-content: space-between
    @include mediaPhone
      justify-content: flex-end
    @include mediaPhone
      justify-content: center

